/* root */

:root {
    --color-orange: #ff6900;
    --color-red: #ff0000;
    --color-green: #008000;
    --color-black: #1a1a1a;
    --color-light-grey: #c9cdcf;
}

/* general */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

ul {

    list-style: none;
    display: flex;
}

a:not(footer a) {

    text-decoration: none;
    padding: 5px;
    color: white;
}




h5:nth-child(1) {

    font-size: bold;
}

/* flex utility */

.d-flex {

    display: flex;
}

.sp-between {

    justify-content: space-between;
}

/* header */

header {

    background-color: var(--color-orange);
    box-shadow: 0px 1px;


}

.header-container {

    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;







}

.logo {

    width: 100px;
    height: 25px;
}

header img {

    width: 100%;
    height: 100%;
}

/* main */

main {

    margin: 30px auto;
    max-width: 800px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

main>div {

    width: calc((100% - 10px) / 3);
}

main img {

    width: 100%;
}

.image {

    position: relative;
}


.content {

    font-size: small;
}

.brand {

    color: grey;
    font-size: 10px;

}

.red-txt {

    color: red;
}

.badge {

    position: absolute;
    color: white;
    font-size: 10px;
    padding: 5px;
    bottom: 25px;


}

.badge-red {


    background-color: var(--color-red);
    width: 40px;


}


.badge-green {

    background-color: var(--color-green);
    width: 60px;
    left: 45px;


}

#last-green {

    background-color: var(--color-green);
    width: 60px;




}



.double-badge {}

/* footer */

footer {

    background-color: var(--color-black);
    color: white;
    border-bottom: 1px solid white;
}

footer a {

    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
}

.footer-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 800px;
    margin: 0 auto;
    padding: 15px 0;


}